<!-- title of the section -->
<div class="page-title">
    <h1 id="title"><?= $this->__('PERSONAL FORM') ?></h1>
</div>

<!-- main content -->
<div class="content">

    <!-- form, on submit goes to: http://[domain]/pform/index/results -->
    <form   id="person-form-validate"
            method="post"
            action="<?= Mage::helper('core/url')->getCurrentUrl().'index/results' ?>">

        <label for="field1"><?= $this->getField('field1') ?>
            <input id="field1" type="text" name="field1" class="required-entry">
        </label>

        <label for="field2"><?= $this->getField('field2') ?>
            <input id="field2" type="text" name="field2" class="required-entry">
        </label>

        <label for="field3"><?= $this->getField('field3') ?>
            <input id="field3" type="text" name="field3" class="required-entry">
        </label>

        <br>
        <input id="submit"  type="submit" value="Send">
    </form>

</div>

<!-- load javascript for validating the fields -->
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('person-form-validate', true);
    //]]>
</script>


<!-- load css -->
<style>

    #title {
        color: #3399cc;
    }

    label {
        margin-top: 15px;
        display: block;
    }

    #field1, #field2, #field3  {
        width: 100%;
    }

    #submit {
        width: 100%;
        height: 30px;
    }

    form{
        color: #3399cc;
    }

</style>