
<!-- title of the section -->
<div class="page-title">
    <h1 id="title"><?= $this->__('RESULT PAGE') ?></h1>
</div>

<!-- main content -->
<div class="content">

    <!-- useless form without action -->
    <form>

        <label for="field1"><?= $this->getField('field1') ?>
            <input value="<?= $this->getPostField('field1') ?>"
                   readonly
                   id="field1"
                   type="text"
                   name="field1">
        </label>

        <label for="field2"><?= $this->getField('field2') ?>
            <input value="<?= $this->getPostField('field2') ?>"
                   readonly
                   id="field2"
                   type="text"
                   name="field2">
        </label>

        <label for="field3"><?= $this->getField('field3') ?>
            <input value="<?= $this->getPostField('field3') ?>"
                   readonly
                   id="field3"
                   type="text"
                   name="field3">
        </label>

    </form>

</div>

<!-- load css -->
<style>

    #title {
        color: #3399cc;
    }

    label {
        margin-top: 15px;
        display: block;
    }

    #field1, #field2, #field3  {
        width: 100%;
    }

    form{
        color: #3399cc;
    }

</style>